.Timers {
    width: 180px;
    margin: 0 auto;
    text-align: center;
}

#display {
    margin-bottom: 20px;
}

#display span {
    font-size: 36px;
}

#buttons button:nth-child(2) {
    margin-left: 8px;
}

button {
    font-size: 16px;
    background-color: rgb(217, 60, 35);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(173, 47, 28);
}

button:active {
    background-color: rgb(130, 35, 21);
}

button:focus {
    outline: 0;
}

h2 {
    position: relative;
    font-size: 2vw;
    color: rgb(49, 8, 87);
    -webkit-text-stroke: 0.1vw rgb(255, 255, 255);
    text-transform: uppercase;

    &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: #01fe87;
        -webkit-text-stroke: 0vw rgb(255, 255, 255);
        border-right: 2px solid #01fe87;
        overflow: hidden;
        animation: animate 6s linear infinite;
    }
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}



#display {
    color: white;
}